* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-text-color: #F3F4FC;
    --main-background: rgb(57, 73, 171);
    --container-borders: #E6E9FA;
    --picture-div-color: rgba(0,0,128,0.1);
    --ellipse-color: rgba(0, 34, 123, 1);
    --welcome-word-clr: #343434;
    --input-borders-clr: #D0D0D0;
    --placeholder-clr: #828282;
    --forgot-pass-clr: #6F74DD;
    --main-btn-clr: rgb(51, 65, 166);
}

body, 
h1,
input, 
::placeholder, 
button, 
a, 
h6 {
    font-family: "Open Sans", serif;
}


body{
    /* min-width: 1251px; */
    /* min-width: 768px; */
    min-height: 100vh;
    background: var(--main-background);
    overflow: hidden;
    backdrop-filter: blur(20px);
    flex-grow: 1;
}


h1 {
    font-size: 76px;
    font-weight: 600;
    color: var(--title-text-color);
    text-shadow: 0 4px 4px rgba(0,0,0,25%);
    text-align: center;
    padding: 30px 0 30px 0;
    width: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.form {
    /* min-width: 1218px; */
    height: 743px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
}

.picture-div {
    width: 732px;
    height: 100%;

    background: var(--picture-div-color);

    border-radius: 24px 0 0 24px;
    border-left: 1px solid var(--container-borders);
    border-bottom: 1px solid var(--container-borders);
    border-top: 1px solid var(--container-borders);
}

.registration-form {
    background: #fff;
    height: 100%;
    width: 486px;
    border-radius: 0 24px 24px 0;
}

.welcome-paragraph {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-top: 33px;
}

.welcome-paragraph2 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
}

.order-div {
    display:flex;
    flex-direction: column;
    padding: 68px;
}

p {
    
    align-self: center;
}

.astronaut {
    align-self: center;
    margin-top: 73px;
}

h2 {
    color: var(--welcome-word-clr);
    font-size: 24px;
    font-weight: 600;
    margin: 50px 0 50px 0;
}

input {
    display: block;

    width: 358px;
    height: 40px;
    margin-bottom: 14px;

    padding-left: 15px;

    border-radius: 8px;
    border: 1px solid var(--input-borders-clr);
    caret-color: var(--forgot-pass-clr);
  
}

#email, 
#pass, 
#nickName, 
#phoneNumber { 
    padding-left: 40px;
}



::placeholder {
    font-size: 14px;
    color: var(--placeholder-clr);
}

span {
    font-size: 14px;
    color: var(--placeholder-clr);
}

.divide {
    position: relative;
    margin: 8px 0 8px 0;
}

.divide::before,
.divide::after {
    display: block;
    content: '';
    width: 93px;
    height: 1px;
    background: var(--container-borders);
   
}

.divide::before {
    left: 25px;
    top: 50%;
    position: absolute;
}

.divide::after {
    right: 25px;
    top: 50%;
    position: absolute;
}

button {
    display: block;
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    
}

.btn-container {
    display: flex;
    min-width: 358px;
    justify-content: space-between;
    position: relative;
    margin-bottom: 24px;
}

.btn-container > button {
    min-width: 175px;
    height: 40px;

    padding-left: 80px;
    text-align: left;

    border-radius: 40px;
    border: 1px solid var(--main-btn-clr);

    color: var(--main-btn-clr);

    font-size: 14px;
}

.ggl, 
.git {
    position: absolute;
    top: 8px;
}

.ggl {
    left: 48px;
}

.git {
    right: 101px;
}

.flex-container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > div {
    position: relative;
    width: 358px;
}

form > div > svg {
    position: absolute;
    top: 8px;
    left: 8px;
}

.showPass {
    position: absolute;

    top: 13px;
    right: 11px;

    padding: 0;
    
    border: 0;
    background-color: transparent;
    
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--forgot-pass-clr);
    font-size: 14px;
}

.forgot_pass_container {
    width: 358px;
    text-align: right;
    margin-bottom: 32px;
}

.create-acc-btn, 
.log-in-btn {
    width: 358px;
    height: 40px;
    border-radius: 40px;
}

.log-in-btn {
    border-radius: 40px;
    border: 1px solid var(--main-btn-clr);
    color: var(--main-btn-clr);
    font-size: 14px;
    margin-top: 16px;
}

.create-acc-btn {
    background: var(--main-btn-clr);
    color: #fff;
    font-size: 14px;
}

input:focus {
    outline: none;
    border: 2px solid var(--forgot-pass-clr);
}

input + p {
    visibility: hidden;
    position: absolute;

    padding: 2px 0;
    text-align: center;
    /* margin-bottom: 16px; */

    min-width: 40%;
    top: 10px;
    left: 450px;  

    font-size: 12px;
    color: rgb(211, 32, 19);
    font-weight: 700;

    background: rgb(221, 232, 255);

    border-radius: 20px;
    border: 1px solid rgb(75, 126, 255);

    animation-duration: 0.4s;
    animation-name: errorAnimation;
}

h6 {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-style: italic;
}

h6 > a {
    color:rgb(223, 6, 93);
}

h6 > a:hover {

    text-decoration: underline #fff;
}

@keyframes errorAnimation {
    from {
        transform: scale(0.2);
    }
}

/*
Error display on resized screen
*/
@media (max-width: 1559px) {
    input + p {
        min-width: auto;
        padding: 2px 8px;
        border: none;
        background-color: rgb(247, 189, 189);
        font-size: 10px;
        
        top: 11px;
        left: 265px;
    } 

    input + .error_phone_number {
        left: 220px;
    }

    input {
        margin-bottom: 14px;
    }
}

/*
Media for PC screens
*/

@media (max-width: 1252px) {
    /* body {
        min-width: 768px;
    } */
    .registration-form {
        width: 450px;
    }
    .picture-div {
        width: 500px;
    }

    input + p {
        min-width: auto;
        padding: 2px 8px;
        border: none;
        background-color: rgb(247, 189, 189);
        font-size: 10px;
        
        top: 11px;
        left: 265px;
    } 

    input + .error_phone_number {
        left: 220px;
    }

    input {
        margin-bottom: 14px;
    }
}

/*
Media for tablets
*/
@media (max-width: 956px) {
   
    .registration-form {
        width: 380px;
    }
    .welcome-paragraph {
        font-size: 18px;
    }
    .picture-div {
        width: 380px;
    }
    .log-in-btn {
        margin-bottom: 35px;
     }
 
     ::placeholder, 
     span,
     a, 
     button, 
     .welcome-paragraph2, 
     .create-acc-btn,
     .btn-container > button, 
     .log-in-btn{
         font-size: 12px;
     }
 
     .user-form {
         width:300px;
     }
 
     input, 
     .forgot_pass_container,
     .create-acc-btn, 
     .log-in-btn {
         width: 300px;
     }
 
     .showPass {
         right: 65px;
     }

     input + p {
        min-width: auto;
        padding: 2px 8px;
        border: none;
        background-color: rgb(247, 189, 189);
        font-size: 10px;
        
        top: 11px;
        left: 210px;
    } 

    input + .error_phone_number {
        left: 165px;
    }

    input {
        margin-bottom: 14px;
    }
}

/*
Media for smartphones
*/
@media (max-width: 794px) {
    body {
        /* min-width: 100px; */
        /* width: 500px; */
        min-width: 370px;
        
        overflow-x: hidden;
        overflow-y: auto;
    }

    .container {
        height: 300px;
        justify-content:flex-start;
    }

    .form {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    h1 {
        display: none;
    }

    .picture-div {
        border-radius: 24px 24px 0 0;
        border: 1px solid white;
        height: 600px;
        width: 400px;
    }

    .registration-form {
        border-radius: 0 0 24px 24px;
        width: 400px;
    }

    h2 {
        margin: 30px 0 30px 0;
        font-size: 18px;
    }

    .log-in-btn {
       margin-bottom: 35px;
    }

    ::placeholder, 
    span,
    a, 
    button, 
    .welcome-paragraph2, 
    .create-acc-btn,
    .btn-container > button, 
    .log-in-btn{
        font-size: 12px;
    }

    .user-form {
        width:300px;
    }

    input, 
    .forgot_pass_container,
    .create-acc-btn, .log-in-btn {
        width: 300px;
    }

    .showPass {
        right: 65px;
    }

    h6, 
    h6 > a {
        margin-bottom: 20px;
        font-size: 0.7rem;
    }

    .order-div {
        padding: 50px;
    }

    input + p {
        /* position: static; */
        min-width: auto;
        padding: 2px 8px;
        border: none;
        background-color: rgb(247, 189, 189);
        font-size: 10px;
        
        top: 11px;
        left: 210px;
    } 

    input + .error_phone_number {
        left: 165px;
    }

    input {
        margin-bottom: 14px;
    }
}

@media (max-width: 421px) {
    body {
        width: 410px;
    }
}
